h1{color: green;}
h1{text-align: center;}
h2{color: rgb(22, 20, 170);}
h2{text-align: center;}

#ima1 {width: 25%;}
#ima1{margin-left: 7%;}
#ima2 {width: 25%;}
#ima2{margin-left: 5%;}
#ima3{width: 25%;}
#ima3{margin-left: 6%;}
